/*
SimonGame
- - - - - - - - - -
https://diznicolasamor.github.io/SimonGame/ 
Author:  Diz, Nicolás Amor (https://github.com/DizNicolasAmor)
This project is a challenge posed by FreeCodeCamp.
*/


h1, h2, h3, h4{
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}


.green{
  width: 150px;
  height: 150px;
  border-radius: 100% 5% 5% 5%;
  background: #049E03;
  border: solid black;
}
.activeGreen {
  background: #00e600;
}
.red{
  width: 150px;
  height: 150px;
  border-radius: 5% 100% 5% 5%;
  background: #AE0404;
  border: solid black;
}
.activeRed {
  background: #FF7979;
}
.yellow{
  width: 150px;
  height: 150px;
  border-radius: 5% 5% 5% 100%;
  background: #CAC902;
  border: solid black;
}
.activeYellow {
  background: #FFFF95;
}
.blue{
  width: 150px;
  height: 150px;
  border-radius: 5% 5% 100% 5%;
  background: #0404A6;
  border: solid black;
}
.activeBlue {
  background: #0096ff;
}

#container{
  max-width: 305px;
  min-width:  305px;
  position:relative;
  margin:0 auto;
  margin-top: 10%;
}

#count{
  background: black; 
  color: red;
  border-radius: 50%;
  height: 50px;

  z-index: 1;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 42%;
  bottom: 45%;
  right: 45%;
}

#endGame{
  background: rgba(0, 10, 10, .5);
  color: white;

  z-index: 1;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#gameResult{
  margin-top: 20%;
}

#playAgain{
  border-radius: 30%;
  width: 150px;
	height: 75px;
  border: black;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  background: SlateGrey;
}
