/*
SimonGame
- - - - - - - - - -
http://codepen.io/DizNicolasAmor/pen/ggEGjR 
Author:  Diz, Nicolás Amor (https://github.com/DizNicolasAmor)
This project is a challenge posed by FreeCodeCamp.
*/


body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Gfp-wood-cupboard-texture.jpg/1024px-Gfp-wood-cupboard-texture.jpg");
  overflow: hidden;
}

h1, h2, h3, h4{
  font-family: Arial;
  font-weight: bold;
  text-align: center;
}


.green{
  width: 150px;
  height: 150px;
  border-radius: 100% 5% 5% 5%;
  background: #049E03;
  border: solid black;
}
.activeGreen {
  background: #00e600;
}
.red{
  width: 150px;
  height: 150px;
  border-radius: 5% 100% 5% 5%;
  background: #AE0404;
  border: solid black;
}
.activeRed {
  background: #FF7979;
}
.yellow{
  width: 150px;
  height: 150px;
  border-radius: 5% 5% 5% 100%;
  background: #CAC902;
  border: solid black;
}
.activeYellow {
  background: #FFFF95;
}
.blue{
  width: 150px;
  height: 150px;
  border-radius: 5% 5% 100% 5%;
  background: #0404A6;
  border: solid black;
}
.activeBlue {
  background: #0096ff;
}

#container{
  max-width: 300px;
  min-width:  300px;
  position:relative;
  margin:0 auto;
  margin-top: 10%;
}
